<meta charset="utf-8" />
@model CanalNoticias.Models.Noticia
<h4>Detalhes da notícia</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Titulo)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Titulo)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Descricao)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Descricao)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Data)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Data)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.FotoPrincipal)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.FotoPrincipal)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.EhDestaque)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.EhDestaque)
    </dd>
</dl>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
